#content {
   height: 100vh;
   width: 100vw;

   #header {
      padding-top: 100px;

      height: 8em;
      width: 100vw;

      font-family: 'VT323';
      font-size: 3em;

      display: flex;

      justify-content: center;
      align-items: center;

      background-image: url('../../images/background.jpg');
      background-repeat: no-repeat;

      .presentation {
         position: relative;

         width: 70%;
         
         display: flex;

         justify-content: center;
         align-items: center;

         flex-direction: column;

         line-height: 1em;

         color: #213043;
         text-shadow: .06em .06em 0px #FFFFFF;

         p:last-child {
            text-align: right;
            
            color: #FDF1F7;
            text-shadow: .07em .07em 0px #213043;
         }
      }
   }

   .episodes-row {
      width: 70%;

      margin: 0 auto;

      padding: 1.75em;

      .episode {
         display: flex;

         justify-content: space-between;

         gap: 1.4em;

         > img {
            height: 7.5em;
            width: 7.5em;
            
            cursor: pointer;

            box-shadow: .33em .33em 0px -1px #EE77AC;

            transition: .15s cubic-bezier(0.43, 0.18, 0.46, 0.77);
         }

         > img:hover {
            box-shadow: .53em .53em 0px -1px #a7587b;
         }

         .side-info {
            p:first-child {
               font-family: 'VT323';
               font-size: 1.75em;

               margin-bottom: .25em;

               color: #0A2830;
               text-shadow: .06em .06em 0px #CC6B8E;
            }

            p {
               font-family: 'Nunito';
               font-size: .8em;

               color: rgba(51, 51, 51, .75);
            }
         }

         .actions {
            font-family: 'VT323';
            font-size: .92em;

            ul {
               display: flex;

               justify-content: start;
               align-items: center;
               gap: 2em;

               list-style-type: none;

               margin-top: .5em;

               a {
                  transition: .35s cubic-bezier(0.43, 0.18, 0.46, 0.77);
               }

               > a:hover {
                  opacity: .75;
               }

               li {
                  display: flex;

                  align-items: center;

                  img {
                     margin-right: .5em;
                  }
               }

               #spotify {
                  color: #399355;
               }

               #instagram {
                  color: #C8377F;
               }
            }
         }
      }
      
   }
}