@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-size: 24;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: $font-size * 1px;

   a {
      text-decoration: none;
   }

   .tooltip {
      font-family: 'VT323';
      font-size: .85em;

      background: #0A2830;
      box-shadow: .33em .33em 0px -1px #EE77AC;

      color: #fff;
   }

   .tooltip:after {
      display: none;
   }
}

@function pxToEm($pixel) {
   @return $pixel / $font-size * 1em;
}

